@model MenuItem

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Details Menu Item</h2>
<br />

<form>
    <div class="border backgroundWhite row">
        <input type="hidden" asp-for="Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Name" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input readonly asp-for="Name" class="form-control" />
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Description" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    @Html.TextAreaFor(m => m.Description, new { @readonly = "readonly" })
                </div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Price" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input readonly asp-for="Price" class="form-control" />
                </div>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="CategoryId" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input readonly asp-for="Category.Name" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="SubCategoryId" class="col-form-label"></label>
                </div>
                <div class="col-8">
                    <input readonly asp-for="SubCategory.Name" class="form-control" />
                </div>
            </div>
        </div>

        <div class="col-3 offset-1">
            <img src="@Model.Image" class="menuItemImg" />
        </div>

        <div class="col-8">
            <div class="col-8 offset-4">
                <partial name="_DetailsAndBackToListButtonPartial" model="@Model.Id" />
            </div>
        </div>
    </div>
</form>




